body {
  font-family: Verdana;
  margin: auto;
}

nav {
  border-right: solid 1px;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  height: 100%;
  width: 300px;
  position: fixed;
  min-width: 275px;
  overflow-y:auto;
}

nav li {
  list-style: none; 
  padding-bottom: 2.5em;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.25em;
  cursor: pointer;
}

.menu-header {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}

header {
  font-size: 1.75em;
  margin-left: 2.5%;
}

main {
  margin-left: 310px;
  padding-left: 1em;
  padding-right: 10em;
  padding-top: 2em;
}

.block {
  background-color: #f7f7f7;
  display: block;
  margin-left: 5em;
  width: 50em;
}

article {
  margin-left: 5%;
  margin-right: 10%;
}

article li {
  list-style: none;
  margin-left: -40px;
  margin-bottom: 10px;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: .75em;
  text-align: center;
  color: black;
  margin-top: 60px;
}

#img1 {
  background-size: 100%;
  width: 20px;
  height: 20px;
  border: 0;
  background-size: 20px auto;
  border-radius: 5px;
  vertical-align: middle;
}

.brenton {
  color: blue;
}

@media (max-width: 1400px) {
  .block {
    width: 40em;
  }
}

@media (max-width: 1200px) {
  .block {
    margin-left: 0;
  }
  article {
    margin-right:0;
}
  main {
    padding-right: 5em;
  }
  
  @media (max-width: 800px) {
    nav {
      position: sticky; top: 0;
      height: 150px;
      border-bottom: solid 1px;
      width: 100%;
      text-align: center;
      z-index: 0;
      background: white;
    }
    nav a {
      font-size: 1em;
    }
    nav li {
      padding-bottom: .5em;
    }
    .menu-header {
      padding-bottom: 0;
    }
    main {
      margin-left: 0;
      padding-right: 2.5em;
    }
    header {
      text-align: center;
    }
    .block {
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }
  }
